.wrapper{
    display: grid;
    grid-template-columns: 200px 200px 200px;
}
*{
    box-sizing: border-box;
}
.wrapper {
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;

}
.wrapper > div {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: #f76707;
}
